* {
    box-sizing: border-box;
  }
  
  .fa-big{
      font-size: 40px;
      text-decoration: none;
      color: white;
   }
  
   .fa-smol{
      font-size: 40px;
      text-decoration: none;
      color: white;
   }
  
  a:link{
    color: rgb(241,148,138);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited{
    color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  
  /*Divider */
  .divider {
    border-top: 3px solid red;
    margin-bottom: 10px;
  }

  .aboutbar a:hover::after {
    opacity: 1; /* Show the rectangle on hover */
  }

  /* Style the top navigation bar */
  .navbar {
    display: flex; /* Use flexbox for horizontal layout */
    justify-content: center; /* Center the links horizontally */
  }
  
  /* Style the navigation bar links */
  .navbar a {
    flex-grow: 1;
    position: relative; /* Enable relative positioning */
    margin: 0 10px; /* Add margin between the links for spacing */
    text-decoration: none;
    text-align: center;
    color: rgb(255, 0, 0);
    transition: color 0.3s; /* Smooth transition for color change */
  }
  
  .navbar a::after {
    content: ''; /* Create the rectangle element */
    position: absolute; /* Position the rectangle */
    bottom: 9px; /* Place it below the text */
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255); /* Red color for the rectangle */
    opacity: 0; /* Hide the rectangle by default */
    transition: opacity 0.1s; /* Smooth transition for opacity change */
  }

  .navbar a:hover::after {
    opacity: 1; /* Show the rectangle on hover */
  }

   /* Main column */
  .main {   
    align-self: center;
    -ms-flex: 10%; /* IE10 */
    flex: 10%; 
    max-width: 60vh;
    margin-left: auto;
    margin-right: auto;
  }

  .resume {   
    align-self: center;
    -ms-flex: 10%; /* IE10 */
    flex: 10%; 
    max-width: 95vh;
    margin-left: auto;
    margin-right: auto;
  }
  
  .education{
    float: left;
    align-items: left;
    justify-content: left;
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    color:#808080;
    font-size: 12px;
  }

  .indented-paragraph2 {
    text-indent: 2em;
  }

  .indented-paragraph4 {
    text-indent: 4em;
  }

  .spoiler-heading {
    cursor: pointer;
  }

  /* SPOILERS */

  .spoiler1-toggle {
    display: none;
  }
  
  .spoiler1-toggle:checked ~ .spoiler1-content {
    display: block;
  }
  
  .spoiler1-content {
    display: none;
  }

  .spoiler2-toggle {
    display: none;
  }
  
  .spoiler2-toggle:checked ~ .spoiler2-content {
    display: block;
  }
  
  .spoiler2-content {
    display: none;
  }

  .spoiler3-toggle {
    display: none;
  }
  
  .spoiler3-toggle:checked ~ .spoiler3-content {
    display: block;
  }
  
  .spoiler3-content {
    display: none;
  }

  .spoiler4-toggle {
    display: none;
  }
  
  .spoiler4-toggle:checked ~ .spoiler4-content {
    display: block;
  }
  
  .spoiler4-content {
    display: none;
  }

  .spoiler5-toggle {
    display: none;
  }
  
  .spoiler5-toggle:checked ~ .spoiler5-content {
    display: block;
  }
  
  .spoiler5-content {
    display: none;
  }

  /*BLINKING TEXTS*/

  @keyframes blink {
    0% { color: red; }
    25% { color: rgba(255, 0, 0, 0.85); }
    50% { color: rgba(255, 0, 0, 0.70); }
    75% { color: rgba(255, 0, 0, 0.55); }
    100% { color: rgba(255, 0, 0, 0.40); }
  }
  
  .blinking-text2 {
    animation: blink 1s infinite;
  }
  


  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .row {   
      overflow-x: hidden;
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }